<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version_preference</string>
			<key>DefaultValue</key>
			<string>1.0 2022-08 ALPHA</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>All rights reserved.</string>
			<key>Key</key>
			<string>copyright_preference</string>
			<key>DefaultValue</key>
			<string>© 2022</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Created by ivanbotty</string>
			<key>Key</key>
			<string>info_dev_preference</string>
		</dict>
	</array>
</dict>
</plist>
